<a href="https://colab.research.google.com/github/KUMAR-MANISH04/Heart-Disease-Prediction/blob/main/detailed_diabetes_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import the dependencies

In [ ]:
import numpy as np
  #numpy is used to make Arrays which which are very helpful in processing
import pandas as pd
  #pandas is used to create data frames which are very helpful to 
  #visualize the structure of the table
from sklearn.preprocessing import StandardScaler
  #two standardize the data to a common range
from sklearn.model_selection import train_test_split
  #to split the data into training data and testing data
from sklearn import svm
  #svm stands for support vector machine Model
from sklearn.metrics import accuracy_score
  #Evaluates the model accuracy

##Data Collection And Analysis

In [ ]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')
  #loading the dataset to a dataframe (PIMA DIABETES DATASET)
  #only for feamle patients
  #diabetes_dataset is a variable in which we store the dataframe
  #csv is a comma separated value
  #uploaded the file in files col at left middle
  #pd.read_csv? commmand can be used to see what parameters is accepted it will show help

In [ ]:
diabetes_dataset.head(10)
  #printing the first 10 rows of the dataset
  #*Skin thickness* is taken from triceps muscules 
  #to see whether any fat is stored there or not
  #*Insulin* is the amount of hormone that lets cells take in glucose
  #*BMI* is weight by height square
  #*DiabetesPedigreeFunction* is number which shows diabetic value
  #*Outcome* values will be either one or zero
  #"0" for Non-Diabatic "1" for Diabatic

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [ ]:
diabetes_dataset.shape
  #number of rows and columns in this dataset

(768, 9)

In [ ]:
diabetes_dataset.describe()
  #getting the statistical measures of the data
  #25% of the people has glucose level less than 99 glucose level
  #50% of the people has glucose level less than 117 glucose level
  #75% of the people has glucose level less than 140 glucose level

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_dataset['Outcome'].value_counts()
  #value count function it counts the outcome values for 0 and 1
  #pretty small dataset and also pre cleaned
  #it depends upon the dataset that how much data we have
  #"0" for non-diabetic
  #"1" for diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby('Outcome').mean()
  #its good to practice grouping of data on the basis of this
  #its common in older age people other than younger people

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
X = diabetes_dataset.drop(columns='Outcome',axis=1)
  #in order to train model with paramets
  #taking the dataframe without outcome colummn
  #Axis = 0 or 'index' tells Pandas you want to remove rows
  #Axis = 1 or 'columns tells Pandas you want to remove columns.
Y = diabetes_dataset['Outcome']
  #this will be just the outcome table

In [ ]:
print(X)
  #shwos the dataframe stored in X variable

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(Y)
  #shwos the dataframe stored in Y variable

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

##Data Standardization

In [ ]:
scaler = StandardScaler()
  #this means we are taking one instance of the standard scaler fn
  #important step in data preprocessing 
  #this will standardize the data in a particular range 
  #like for glucose its ranges from 0 to 199

In [ ]:
scaler.fit(X)
  #we are fitting the data to standard scaler fn

StandardScaler()

In [ ]:
standardized_data = scaler.transform(X)
  #transforming the data to a common range
  #we can also use scaler.fit_tranform this also gives same here its done seprately
  #this will change the values to range of 0 and 1

In [ ]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
X = standardized_data
  #giving back standarized data back to X
Y = diabetes_dataset['Outcome']
  #alredy done no changes
  #just to keed code clean Y is written again

In [ ]:
print(X)
  #X represents data
print(Y)
  #Y represents label

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

##Train Test Split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.15,stratify=Y,random_state=1)
  #divides the data in 4 variables
  #train is for training
  #test is the tesing which is not shown to model while training
  #X is the data in parameter
  #Y is the lebel in parameter
  #test_size 0.2 represnts 20% of test data will be stored
  #"stratify" to ensure that both the train and test sets 
  #have the proportion of examples in each class
  #that is present in the provided “y”
  #"random_state" will randomize the distribution

In [ ]:
print(X.shape,X_train.shape,X_test.shape)
  #shape of the orignal and after spliting

(768, 8) (652, 8) (116, 8)

##Training the Model

In [ ]:
classifier = svm.SVC(kernel='linear')
  #classifier is used to load svm
  #SVC stands for Support vector classifier
  #kenrel generally transforms the training set of data 
  #so that a non-linear decision surface is able to 
  #transform to a linear equation in a higher number of dimension spaces

In [ ]:
classifier.fit(X_train,Y_train)
  #training the support vector classifier

SVC(kernel='linear')

#MODEL EVALUATION

###Accuracy Score

In [ ]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
  #accuracy score of the traing data
  #comparing the data with Y_train

In [ ]:
print('Accuracy score on the training data : ', training_data_accuracy)

Accuracy score on the training data :  0.7898773006134969

In [ ]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
  #this is unknown data for the model
  #accuracy score of the testing data
  #comparing the data with Y_train

In [ ]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7327586206896551

##Making A Predictive System

In [ ]:
input_data = (8,66,152,19,175,24.8,0.987,81)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[ 1.23388019 -1.71804212  4.28546074 -0.09637905  0.82661621 -0.91287659
   1.5557347   4.06371575]]
[0]
The person is not diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(